<p>Bonjour,</p>
<br>
<p>Sauf erreur ou omission de notre part, nous constatons que votre compte client présente à ce jour un solde débiteur de : {{ montant }} £ .</p>
<p>Ce montant correspond à notre facture en pièce jointe restée impayée.</p>
<p>L'échéance étant dépassée, nous vous demandons de bien vouloir régulariser cette situation. Dans le cas où votre règlement aurait été adressé entre temps, nous vous prions de ne pas tenir compte de la présente.</p>
<p>Bien Cordialement,</p>
<p style="margin: 0;">Farhat THABET, PhD</p>
<p style="margin: 0;">Président IT STORM Consulting</p>
<br>
