<p>Bonjour,</p>
<br>
<p>Veuillez trouver ci-joint les factures liées à nos prestations, pour la période indiquée dans l'objet de ce mail.</p>
<p>En attendant, nous restons à votre disposition pour tout complément d'information.</p>
<p>Bien Cordialement,</p>
<p style="margin: 0;">Farhat THABET, PhD</p>
<p style="margin: 0;">Président IT STORM Consulting</p>
<br>
