{# templates/pdf/upload.html.twig #}

{% extends 'basefront.html.twig' %}

{% block title %}Télécharger un fichier PDF{% endblock %}

{% block body %}

{% for message in app.flashes('error') %}
    <div class="alert alert-danger">
        {{ message }}
    </div>
{% endfor %}

    <h1>Télécharger un fichier PDF</h1>

    {{ form_start(form) }}
    {{ form_row(form.pdfFiles) }}
    <button type="submit" class="btn btn-primary">Vérifier</button>
    {{ form_end(form) }}
{% endblock %}
