{# templates/pdf/upload.html.twig #}

{% extends 'basefront.html.twig' %}

{% block title %}Télécharger un fichier PDF{% endblock %}

{% block body %}

{% for message in app.flashes('error') %}
    <div class="alert alert-danger">
        {{ message }}
    </div>
{% endfor %}

<h1>Télécharger un fichier PDF</h1>

{{ form_start(form) }}
{{ form_row(form.pdfFile) }}

<div class="form-check">
    <input class="form-check-input" type="checkbox" value="1" id="allFactures" name="allFactures">
    <label class="form-check-label" for="allFactures">
        Traiter toutes les factures non-payées et envoyées
    </label>
</div>

<button type="submit" class="btn btn-primary">Vérifier</button>
{{ form_end(form) }}
{% endblock %}
